@charset "UTF-8";

/* PALETA DE CORES */

:root {
  --cor01: #49668c;
  --cor02: #2c5559;
  --cor03: #d99b66;
  --cor04: #d98162;
  --cor05: #bf6f6f;
}


* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--cor01);
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  background-color: #ffffff;
  height: 600px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);

  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
}

section#login > div#img {
    display: block;
    background: #49668c url(../img/login.jpg) no-repeat;
    background-position: center center;
    height: 250px;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.329);

}

section#login > div#form {
    display: block;
    padding: 10px;
    color: #000000;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
}

form > div.campo {
  background-color: #49668c;
  display: block;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin: 5px 0px;
}

div.campo > label {
  display: none;
}

form > input[type=submit] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background-color: #d99b66;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

form > input[type=submit]:hover {
  background-color: #49668c;
}

form > a.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 30px;
  padding-top: 1px;
  margin-top: 10px;
  background-color: white;
  color: #1a2738;
  border: 1px solid #49668c;
  border-radius: 5px;
  text-decoration: none;
}

form > a.botao:hover {
  background-color: #49668c;
  color: white;
}

form > a.botao > span {
  font-size: 0.8em;
}